@import url('https://fonts.googleapis.com/css?family=Euphoria+Script|Liu+Jian+Mao+Cao|Raleway|Rye|Staatliches&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  color: white;
  margin-left: auto;
  margin-right: auto;


}

.title{
min-width: 1000px;
  font-weight: 800;
  color: transparent;
  font-size:120px;
  background: url('images/image04.jpg') repeat;
  background-position: 40% 50%;
  -webkit-background-clip: text;
  position:relative;
  text-align:center;
  font-family: 'Staatliches', cursive;
    font-size : 8em;
    text-align: center;
    letter-spacing: 25px;
  border-top: 4px solid #040b1b;
border-bottom: 4px solid #040b1b;
border-left: 4px solid #040b1b;
border-right: 4px solid #040b1b;
   padding: 0.25em;
}

#fable01 h2{
  font-family: 'Euphoria Script', cursive;
  font-size : 3em;
  margin-top: 0;
/*  overflow: hidden;
  margin: 0; */
}
#fable01 h3{
  font-family: 'Euphoria Script', cursive;
  font-size : 1.5em;
  margin-top: 0;
}

  #fable02 h2{
  font-family: 'Liu Jian Mao Cao', cursive;
    font-size : 3em;
    margin-top: 0;
}

#fable02 h3{
font-family: 'Liu Jian Mao Cao', cursive;
  font-size : 1.5em;
  margin-top: 0;
}

#fable03 h2{
  font-family: 'Rye', cursive;
  font-size : 3em;
  margin-top: 0;
}

#fable03 h3{
  font-family: 'Rye', cursive;
  font-size : 1em;
  margin-top: 0;
}
